<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

    <!-- Title -->
  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- Search form -->
  <form th:action="@{/search/results}" method = "post">
    <h2>Search by:</h2>

      <!-- Radio buttons for search type -->
    <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

    </p>

      <!-- Input field for search term -->
    <p>
      <label for="searchTerm">Keyword:</label>
      <input type="text" name="searchTerm" id="searchTerm" />
    </p>

      <!-- Submit button -->
    <input type="submit" value="Search" />
  </form>

  <hr />

  <!-- TODO #4 - Loop over the search results to display all job fields. -->
                     <!-- TASK 4: DISPLAY SEARCH RESULTS -->

    <div th:if="${jobs}">  <!-- if statement: if jobs are present -->
        <h2>Search Results:</h2>
        <table class="job-listing" th:each="job : ${jobs}">    <!-- Table for displaying search results -->
            <tr>
                <td>ID</td>
                <td th:text="${job.id}"></td> <!-- ID -->
            </tr>
            <tr>
                <td>Name</td>
                <td th:text="${job.name}"></td> <!-- NAME -->
            </tr>
            <tr>
                <td>Employer</td>
                <td th:text="${job.employer}"></td> <!-- EMPLOYER -->
            </tr>
            <tr>
                <td>Location</td>
                <td th:text="${job.location}"></td> <!-- LOCATION -->
            </tr>
            <tr>
                <td>Position Type</td>
                <td th:text="${job.positionType}"></td> <!-- POSITION -->
            </tr>
            <tr>
                <td>Skill</td>
                <td th:text="${job.coreCompetency}"></td> <!-- CORE COMP -->
            </tr>

        </table>
    </div>
    <div th:unless="${jobs}">  <!-- Unless/If no jobs found -->
        <p>No results found.</p>
    </div>

</div>

</body>
</html>
